
@page "/my-payments"
@using FutsalApi.Data.Models
@inject HttpClient Http

<PageTitle>My Payments</PageTitle>

<h1>My Payments</h1>

@if (payments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid TItem="PaymentResponse" Items="payments">
        <GridColumn TItem="PaymentResponse" HeaderText="Booking ID" PropertyName="BookingId" />
        <GridColumn TItem="PaymentResponse" HeaderText="Amount Paid" PropertyName="AmountPaid" />
        <GridColumn TItem="PaymentResponse" HeaderText="Method" PropertyName="Method" />
        <GridColumn TItem="PaymentResponse" HeaderText="Status" PropertyName="Status" />
        <GridColumn TItem="PaymentResponse" HeaderText="Transaction ID" PropertyName="TransactionId" />
    </Grid>
}

@code {
    private PaymentResponse[]? payments;

    protected override async Task OnInitializedAsync()
    {
        payments = await Http.GetFromJsonAsync<PaymentResponse[]>("Payment");
    }
}
