@page "/register"
@using FutsalApi.Data.Models
@using Auth
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<EditForm Model="@registerRequest" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="registerRequest.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <InputText type="password" id="password" @bind-Value="registerRequest.Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private RegisterRequest registerRequest = new();

    private async Task HandleValidSubmit()
    {
        var result = await Http.PostAsJsonAsync("User/register", registerRequest);
        if (result.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
