@page "/profile"
@using FutsalApi.Data.Models
@inject HttpClient Http

<PageTitle>User Profile</PageTitle>

<h1>User Profile</h1>

<EditForm Model="@infoRequest" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="infoRequest.NewEmail" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="old-password">Old Password</label>
        <InputText type="password" id="old-password" @bind-Value="infoRequest.OldPassword" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="new-password">New Password</label>
        <InputText type="password" id="new-password" @bind-Value="infoRequest.NewPassword" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Update Profile</button>
</EditForm>

@code {
    private InfoRequest infoRequest = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<InfoResponse>("User/info");
        if (response != null)
        {
            infoRequest.NewEmail = response.Email;
        }
    }

    private async Task HandleValidSubmit()
    {
        await Http.PostAsJsonAsync("User/info", infoRequest);
    }
}
