
@page "/admin/bookings"
@using FutsalApi.ApiService.Models
@inject HttpClient Http

<PageTitle>Bookings</PageTitle>

<h1>Bookings</h1>

@if (bookings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid TItem="BookingResponse" Items="bookings">
    <GridColumn TItem="BookingResponse" HeaderText="Booking ID" PropertyName="Id" />
    <GridColumn TItem="BookingResponse" HeaderText="User" PropertyName="UserId" />
    <GridColumn TItem="BookingResponse" HeaderText="Futsal Ground" PropertyName="GroundId" />
    <GridColumn TItem="BookingResponse" HeaderText="Date" PropertyName="BookingDate" />
    <GridColumn TItem="BookingResponse" HeaderText="Start Time" PropertyName="StartTime" />
    <GridColumn TItem="BookingResponse" HeaderText="End Time" PropertyName="EndTime" />
    <GridColumn TItem="BookingResponse" HeaderText="Status" PropertyName="Status" />
</Grid>
}

@code {
    private BookingResponse[]? bookings;

    protected override async Task OnInitializedAsync()
    {
        bookings = await Http.GetFromJsonAsync<BookingResponse[]>("Booking");
    }
}
