@page "/admin/users"
@using FutsalApi.Data.Models
@inject HttpClient Http

<PageTitle>Users</PageTitle>

<h1>Users</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid TItem="InfoResponse" Items="users">
        <GridColumn TItem="InfoResponse" HeaderText="ID" PropertyName="Id" />
        <GridColumn TItem="InfoResponse" HeaderText="Email" PropertyName="Email" />
        <GridColumn TItem="InfoResponse" HeaderText="Email Confirmed" PropertyName="IsEmailConfirmed" />
    </Grid>
}

@code {
    private InfoResponse[]? users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<InfoResponse[]>("User/info");
    }
}
