
@page "/admin/user-roles"
@using FutsalApi.Auth.Models
@inject HttpClient Http

<PageTitle>User Roles</PageTitle>

<h1>User Roles</h1>

@if (userRoles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Grid TItem="UserRole" Items="userRoles">
        <GridColumn TItem="UserRole" HeaderText="User ID" PropertyName="UserId" />
        <GridColumn TItem="UserRole" HeaderText="Role ID" PropertyName="RoleId" />
    </Grid>
}

@code {
    private UserRole[]? userRoles;

    protected override async Task OnInitializedAsync()
    {
        userRoles = await Http.GetFromJsonAsync<UserRole[]>("UserRoles");
    }
}
